{% extends "cargo/base.html" %}

{% block main %}
{% if cargos %}
    <ul>
    {% for cargo in cargos %}
        <li><a href="/cargo/{{ cargo.id }}/">Груз {{ cargo }}</a>. {{ cargo.tipper }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cargos are available.</p>
{% endif %}

<details>
    <p>
        {{ mines }}<br>
        {{ tippers }}<br>
        {{ stores }}<br>
        {{ histories }}<br>
    </p>

    <b>Дано</b>
    <p>
        В карьере находятся 3 самосвала с бортовыми номерами “101”, “102” и “K103”.<br>
        “101” и “102” самосвалы модели “БЕЛАЗ”, а “K103” – “Komatsu”.<br>
        У моделей “БЕЛАЗ” максимальная грузоподъемность 120 т руды, а у “Komatsu” – 110 т.
        </p>
    <p>На текущий момент “101” самосвал везет 100 т руды, “102” – 125 т, “K103” – 120 т.</p>
    <p>Руда характеризуется процентным содержанием полезных веществ - диоксида кремния и железа.<br>
        * “101” самосвал везет руду с содержанием 32% SiO2 и 67% Fe<br>
        * “102” - 30% SiO2 и 65% Fe <br>
        * “K103” - 35% SiO2 и 62% Fe
    </p>
    <p>
        Самосвалы везут руду на склад, на котором уже находится 900т руды с содержанием 34% SiO2 и 65% Fe.<br>
        Территория склада ограничена полигоном, представление которого в формате WKT:
        <code>POLYGON ((30 10, 40 40, 20 40, 10 20, 30 10))</code>.<br>
        Самосвалы разгружаются, пытаясь попасть в координаты полигона, но не всегда это у них получается.
    </p>
<p>

<b>Задача</b>
Реализовать веб-приложение на фреймворке Django<br>
1. Спроектировать ORM-модели для перечисленных объектов и событий<br>
2. Создать страницу, которая открывается первой при заходе на адрес веб-приложения, на которой отобразить таблицы следующего вида:<br>
</p>

    <p>
        <i>Таблица 1:</i><br>
        * бортовой номер<br>
        * модель<br>
        * макс. грузоподъемность<br>
        * текущий вес<br>
        * перегруз %<br>
        * координаты разгрузки<br>
        последний столбец - инпут, в который пользователь может задать координаты разгрузки в формате “X Y”<br>
        Под таблицей разместить кнопку “Рассчитать” по нажатию на которую данные, введённые пользователем,<br>
        отправляются на сервер, страница обновляется, и во второй таблице отображаются данные, учитывающие пользовательский ввод:
    </p>
    <p><i>Таблица 2:</i><br>
        * Название склада:<br>
        * Объем до разгрузки, т<br>
        * Объем после разгрузки, т<br>
        * Качественные характеристики после разгрузки<br>
        Для подсчёта объема на складе после разгрузки всех самосвалов необходимо определить, <br>
        попали ли координаты точек разгрузки, заданные пользователем, внутрь полигона склада.<br>
        Если попали - учесть привезённый объем и качество в итоговом объеме и качественных характеристиках склада,<br>
        если координаты не попали - игнорировать. Попадание на границу полигона считается попаданием в склад.</p>

    <p>
        Приложение задеплоить где-нибудь в бесплатном хостинге в интернете (например heroku),
        если не получится - опубликовать на гитхабе или просто прислать архив с исходниками.
    </p>
</details>
{% endblock %}

