{% extends "cargo/base.html" %}

{% block main %}


    <div class="jumbotron">
        <section class="container">
            <h1 class="display-4"><a href="/">Ruda Tipper</a></h1>
            <h3>Приложение для расчёта или отправки самосвала с грузом на полигон склада </h3>
            <hr class="my-4">

            <p>Чтобы расчитать или отправить загруженный самосвал на определенный склад Вы должны:</p>
            <ul>
                <li>1. Создать груз</li>
                <li>2. Указать координаты, в которые он будет доставлен.</li>
            </ul>

            <p>После расчета будет выведены варианты складов с возможностью отправки груза (кнопка Отправить на склад).</p>
            <p> Если груз не подходит для какого то определнного склада будет выведено предупреждение.</p>
            <p>Если координаты груженого самосвала не будут входить в координаты (полигон) склада груз не сможет быть отправлен.</p>

            <p class="text-right">
                <i class="small">Данные для входа в <a href="/admin" target="_blank">админ.панель</a>:</i>
                <span class="badge badge-secondary">admin / admin888</span>
            </p>
        </section>
    </div>

    <section class="container mb-4 mt-4">
        <h4>Заполните координаты для расчета доставки груза (самосвала с рудой)</h4>
        <p class="text-muted">Вы видете все сформированные, еще не отправленные загруженные самосвалы</p>

            <table class="table table-striped table-hover table-dark">
            <caption>Таблица 1: Самосвал с грузом и координаты для расчета</caption>
            <thead>
                <tr>
                <th scope="col">Бортовой номер</th>
                <th scope="col">Модель</th>
                <th scope="col">Макс. грузоподъемность</th>
                <th scope="col">Текущий вес</th>
                <th scope="col">Перегруз, %</th>
                <th scope="col">Кооржинаты разгрузки: <code>X Y</code></th>
                <th scope="col">*</th>
              </tr>
            </thead>
            <tbody>
                {% if cargos %}
                    {% for cargo in cargos %}
                    <form action="{% url 'cargo:calc' cargo.id %}" method="post">
                    {% csrf_token %}
                        <tr>
                            <td>{{ cargo.tipper.number }}</td>
                            <td>{{ cargo.tipper.tmodel.code }}</td>
                            <td>{{ cargo.max_mass }}</td>
                            <td>{{ cargo.mass }}</td>
                            <td>{{ cargo.overload }} %</td>
                            <td>
                                <input class="form-control" name="coordinates" placeholder="Формат: X Y" pattern="[0-9]+\s[0-9]+" required
                                       value="{{ coordinates }}">
                            </td>
                            <td>
                                <!-- <a class="btn btn-warning" role="button" href="/cargo/{{ cargo.id }}">Расчитать</a> -->
                                <button type="submit" class="btn btn-outline-warning">Расчитать</button>
                            </td>
                        </tr>
                    </form>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>- %</td>
                    <td>
                        <input class="form-control" placeholder="Формат: X Y" disabled readonly>
                    </td>
                    <td>
                        <button class="btn btn-outline-warning" disabled>Расчитать</button>
                    </td>
                </tr>
                {% endif %}

            </tbody>
        </table>

        {% if cargos.count > 1 %}
            <a class="btn btn-block btn-outline-dark" href="*" role="button">Расчитать всё</a>
        {% else %}
            <a class="btn btn-block btn-outline-dark" href="/" role="button">Все грузы</a>
        {% endif %}
        <a class="btn btn-block btn-outline-secondary" href="." role="button">Очистить</a>
        <hr>
    </section>

    {% if result_success or result_warning %}
    <section class="container mb-4 mt-4">
        <h4>Результат расчета</h4>

        <table class="table table-striped table-hover">
            <caption>Таблица 2: Результат расчета доставки</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Название склада</th>
                    <th scope="col">Объём до разгрузки, т</th>
                    <th scope="col">Объём после разгрузки, т</th>
                    <th scope="col">Качественные хар-ки после разгрузки</th>
                    <th scope="col">*</th>
              </tr>
            </thead>
            <tbody>
                {% if result_success %}
                    {% for res in result_success %}
                    <tr class="table-success">
                        <td>{{ res.store }}</td>
                        <td>{{ res.before_mass }}</td>
                        <td>{{ res.after_mass }}</td>
                        <td>
                            {{ res.after_characteristics }}<br>
                            <small class="text-muted">{{ res.before_characteristics }}</small>
                        </td>
                        <td>
                            <a class="btn btn-secondary" href="#" role="button">Отправить [x]</a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if result_warning %}
                    {% for res in result_warning %}
                    <tr class="table-warning">
                        <td>{{ res.store }}</td>
                        <td>{{ res.before_mass }}</td>
                        <td>{{ res.after_mass }}</td>
                        <td>
                            {{ res.after_characteristics }}<br>
                            <small class="text-muted">{{ res.before_characteristics }}</small>
                        </td>
                        <td><small class="text-danger">{{ res.error }}</small></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <hr>
        </section>
    {% endif %}

    <section class="jumbotron">
        <p class="container text-center">
            <a class="col m-1 btn btn-outline-primary" href="/admin/mine/cargo/" target="_blank" role="button">Создать груз</a>
            <a class="col m-1 btn btn-outline-primary" href="/admin/tipper/tipper" role="button" target="_blank">Создать самосвал</a>
            <a class="col m-1 btn btn-outline-primary" href="/admin/store/store/" role="button" target="_blank">Создать склад</a>
            <a class="col m-1 btn btn-outline-primary" href="/admin/mine/mine/" role="button" target="_blank">Создать шахту</a>
        </p>
    </section>

    <details class="container">
        <p>
            {{ mines }}<br>
            {{ tippers }}<br>
            {{ stores }}<br>
            {{ histories }}<br>
        </p>
        <b>Дано</b>
        <p>
            В карьере находятся 3 самосвала с бортовыми номерами “101”, “102” и “K103”.<br>
            “101” и “102” самосвалы модели “БЕЛАЗ”, а “K103” – “Komatsu”.<br>
            У моделей “БЕЛАЗ” максимальная грузоподъемность 120 т руды, а у “Komatsu” – 110 т.
        </p>
        <p>На текущий момент “101” самосвал везет 100 т руды, “102” – 125 т, “K103” – 120 т.</p>
        <p>Руда характеризуется процентным содержанием полезных веществ - диоксида кремния и железа.<br>
            * “101” самосвал везет руду с содержанием 32% SiO2 и 67% Fe<br>
            * “102” - 30% SiO2 и 65% Fe <br>
            * “K103” - 35% SiO2 и 62% Fe
        </p>
        <p>
            Самосвалы везут руду на склад, на котором уже находится 900т руды с содержанием 34% SiO2 и 65% Fe.<br>
            Территория склада ограничена полигоном, представление которого в формате WKT:
            <code>POLYGON ((30 10, 40 40, 20 40, 10 20, 30 10))</code>.<br>
            Самосвалы разгружаются, пытаясь попасть в координаты полигона, но не всегда это у них получается.
        </p>

        <p>
            <b>Задача</b>
            Реализовать веб-приложение на фреймворке Django<br>
            1. Спроектировать ORM-модели для перечисленных объектов и событий<br>
            2. Создать страницу, которая открывается первой при заходе на адрес веб-приложения, на которой отобразить таблицы следующего вида:<br>
        </p>

        <p>
            <i>Таблица 1:</i><br>
            * бортовой номер<br>
            * модель<br>
            * макс. грузоподъемность<br>
            * текущий вес<br>
            * перегруз %<br>
            * координаты разгрузки<br>
            последний столбец - инпут, в который пользователь может задать координаты разгрузки в формате “X Y”<br>
            Под таблицей разместить кнопку “Рассчитать” по нажатию на которую данные, введённые пользователем,<br>
            отправляются на сервер, страница обновляется, и во второй таблице отображаются данные, учитывающие пользовательский ввод:
        </p>
        <p><i>Таблица 2:</i><br>
            * Название склада:<br>
            * Объем до разгрузки, т<br>
            * Объем после разгрузки, т<br>
            * Качественные характеристики после разгрузки<br>
            Для подсчёта объема на складе после разгрузки всех самосвалов необходимо определить, <br>
            попали ли координаты точек разгрузки, заданные пользователем, внутрь полигона склада.<br>
            Если попали - учесть привезённый объем и качество в итоговом объеме и качественных характеристиках склада,<br>
            если координаты не попали - игнорировать. Попадание на границу полигона считается попаданием в склад.</p>

        <p>
            Приложение задеплоить где-нибудь в бесплатном хостинге в интернете (например heroku),
            если не получится - опубликовать на гитхабе или просто прислать архив с исходниками.
        </p>
    </details>

{% endblock %}

